@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #070707;
  color: white;
  font-family: Inter, Arial, sans-serif;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.gold {
  color: #FFD700;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.section {
  max-width: 1200px;
  margin: auto;
  padding: 100px 20px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #FFD700;
  border-radius: 20px;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}
